
.comment {padding-bottom: 5px;}
.panel-body.comment-container {padding-top: 0; padding-bottom: 0;}
.comment-header {margin-bottom: 5px;}
.commentAuthor {margin: 0 5px;}
.commentTimestamp {color: #888;}
.red {color:red;}
