extends layout

include _includes/formatDateMixin.js

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller="dishListCtrl")
      label(for="filter") Filter results
      input#filter(type="text", name="filter", ng-model="textFilter")
      .error {{ message }}
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="dish in data.dishes | filter : textFilter")
          h4
            a(href="/dish/{{ dish._id }}") {{ dish.name }}
            small(likes-count, likes="dish.likes")
            span.badge.pull-right.badge-default {{ dish.distance | formatDistance }}
          p.address {{ dish.zip }} + " in " + {{ dish.address }}
          p
            span.label.label-warning.label-category(ng-repeat="category in categories")
              |  {{ category }}
    .col-xs-12.col-sm-4
      p.lead {{ sidebar }}
