extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Fill It Mig Naan
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.likes
            span.glyphicon.glyphicon-heart  -number of likes-
          p -Only Zip, City, and State-
          .panel.panel-primary
            .panel-heading
              h2.panel-title Dish Images
            .panel-body
              img
              img
              img
          .panel.panel-primary
            .panel-heading
              h2.panel-title Ingredients
            .panel-body
              p A NICE CUT O BEEF, SIR
              p Butter
              p Herbs n stuff yo
          .panel.panel-primary
            .panel-heading
              h2.panel-title Instructions
            .panel-body
              p Prep the boeuf
              p heat the big beefy meat in a skillet
              p drizzle butter as if you were a popcorn machine
        .col-xs-12.col-sm-6
          
