extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        |  WICT lets you share pictures and recipes of the things you cook at home with others around the world. It also lets you see what other people in other places (or around you) are cooking.
        |  <br /><br />
        |  TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT TEEEEXT     
