<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
      <div class="error">{{ vm.message }}</div>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="dish in vm.data.dishes | filter : textFilter">
          <h4>
            <a href="/#/dish/{{ dish._id }}">{{ dish.name }}</a>
            <small class="likes-count" likes-count likes="dish.likes"></small>
            <span class="badge pull-right badge-default">{{ dish.distance | formatDistance }}</span>
          </h4>
          <p class="address">{{ dish.zip }} + ' in ' + {{ dish.address }}</p>
          <p>
            <span class="label label-warning label-category" ng-repeat="category in location.categories">
              {{ category }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">{{ vm.sidebar.content }}</p>
    </div>
  </div>

  <wictFooter></wictFooter>
</div>
